*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.settings{
    position: absolute;
    left: 88%;
    bottom: 90%;
    border-style: none;
    background-color: transparent;
}

.logout{
    position: absolute;
    left: 93%;
    bottom: 90%;
    border-style: none;
    background-color: transparent;
}

.line{
    position: absolute;
    height: 0px;
    width: 65%;
    border-color: #EBF0F5;
    border-style: solid;
    left: 30%;
    bottom: 77%;
}
